@import "tailwindcss";

:root {
  --background: #FFFDF7;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --font-heading: var(--font-dm-serif-text);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #FFFDF7;
    --foreground: #ededed;
  }
}

@font-face {
  font-family: 'MyCustomFont';
  src: url('/public/fonts/Plantin\ BQ\ Regular.otf') format('otf'),
    url('/public/fonts/Plantin\ BQ\ Regular.otf') format('otf');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

body {
  background: var(--background);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--font-heading);
}