@import "tailwindcss";

:root {
  --background: #FFFDF7;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #FFFDF7;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  /* color: ;
  font-family: ; */
}

h1 {
 font-family: 'Plantin MT Std', sans-serif;
  font-weight: bold;
}

